<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
  <div class="container">
    <a href="{% url 'index' %}" class="navbar-brand">Nubian Quest</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {% if '/' == request.path %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a href="{% url 'index' %}" class="nav-link">Home</a>
        </li>
        {% if 'about' in request.path %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a href="{% url 'about' %}" class="nav-link">About Us</a>
        </li>
        {% if 'shop' in request.path %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a href="{% url 'shop' %}" class="nav-link">Shop</a>
        </li>
        {% if 'blog' in request.path %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a href="blog.html" class="nav-link">Blog</a>
        </li>
        {% if 'contact' in request.path %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a href="{% url 'contact' %}" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>