{% extends 'base.html' %}

{% block extra-link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
{% endblock %}

{% block title %}Shop{% endblock %}

{% block content %}

<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>The Book Shop</h1>
        <p>The adventure starts right here.</p>
      </div>
    </div>
  </div>
</header>

<!-- SERVICES SECTION -->
<section id="services" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center my-5">
          <div class="card-header bg-dark text-white">
            <h3>Kindle</h3>
          </div>
          <div class="card-body">
            <!-- <h4 class="card-title"></h4> -->
            <p class="card-text">Follow John Baverbrook's journey electronically</p>
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fas fa-check"></i> Own it forever
              </li>
              <li class="list-group-item">
                <i class="fas fa-check"></i> Instant delivery
              </li>
              <li class="list-group-item">
                <i class="fas fa-check"></i> Compatible with any device
              </li>
            </ul>
            <a href="https://www.amazon.co.uk/Nubian-Quest-Nigran-Chronicles-Book-ebook/dp/B07KNC44H3/ref=mp_s_a_1_1?ie=UTF8&qid=1542921289&sr=8-1&pi=AC_SX236_SY340_QL65&keywords=nubian+quest&dpPl=1&dpID=41puYzj3TUL&ref=plSrch" class="btn btn-danger btn-block mt-2" target="blank">Buy It Now</a>
          </div>
          <div class="card-footer text-muted">
            Delivered instantly via Kindle App
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center my-5">
          <div class="card-header bg-dark text-white">
            <h3>Paperback</h3>
          </div>
          <div class="card-body">
            <!-- <h4 class="card-title"></h4> -->
            <p class="card-text">Follow John Baverbrook's journey the conventional way</p>
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fas fa-check"></i> Own it forever
              </li>
              <li class="list-group-item">
                <i class="fas fa-check"></i> Receive it by post
              </li>
              <li class="list-group-item">
                <i class="fas fa-check"></i> A great addition to any bookshelf
              </li>
            </ul>
            <a href="https://www.amazon.co.uk/Nubian-Quest-Nigran-Chronicles-Book-ebook/dp/B07KNC44H3/ref=mp_s_a_1_1?ie=UTF8&qid=1542921289&sr=8-1&pi=AC_SX236_SY340_QL65&keywords=nubian+quest&dpPl=1&dpID=41puYzj3TUL&ref=plSrch" class="btn btn-danger btn-block mt-2" target="blank">Buy It Now</a>
          </div>
          <div class="card-footer text-muted">
            Delivery fullfiled by Amazon
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if testimonials %}
<!-- TESTIMONIALS -->
<section id="testimonials" class="p-4 bg-dark text-white">
  <div class="container">
    <h2 class="text-center">testimonials</h2>
    <div class="row text-center">
      <div class="col">
        <div class="slider">
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
              </p>
              <footer class="blockquote-footer">John Doe From
                <cite title="Company 1">Company 1</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
              </p>
              <footer class="blockquote-footer">Sam Smith From
                <cite title="Company 2">Company 2</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
              </p>
              <footer class="blockquote-footer">Meghan Williams From
                <cite title="Company 3">Company 3</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}

{% block extra-script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
{% endblock %}