{% extends 'base.html' %}

{% block title %}404{% endblock %}

{% block navbar %} {% endblock %}

{% block content %}

<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>You've reached the end of the road...</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">404 page cannot be found</h1>
        <p class="lead">
          Oops something went wrong, better go back to safety.
        </p>
        <hr>
        <a href="{% url 'index' %}" class="btn btn-danger btn-lg mb-5">Back to Home page</a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock %}

{% block footer %} {% endblock %}