{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta-tags %}
  <meta name="description" content="Nubian Quest, a thinking man’s sci-fi novel authored by Phil Tittensor, is set in modern-day Egypt though the story harks back to the time of the Pharaohs."/>
  <meta name="author" content="Virtue Studios">
  <meta name="copyright" content="Nubian Quest, Phil Tittensor">
  {% endblock %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130111648-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130111648-1');
  </script>

  {% block extra-link %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'css/ekko-lightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}Nubian Quest{% endblock %}</title>
</head>

<body>
    
    <!-- NAVBAR -->
    {% block navbar %}{% include 'partials/_navbar.html' %}{% endblock %}

    <!-- MAIN CONTENT -->
    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    {% block footer %}{% include 'partials/_footer.html' %}{% endblock %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/ekko-lightbox.min.js' %}"></script>
{% block extra-script %}{% endblock %}
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>